In [2]:
import numpy as np
import pandas as pd
import sklearn

test = 'testfiles/train.csv'

dataset = pd.read_csv(test)

dataset.dropna(axis=0, how='any', inplace=True)

mat = list(map(list, dataset.TX_RESPOSTAS_MT))

data = pd.DataFrame(mat, columns=[i for i in range(1, 46)], index=dataset.NU_INSCRICAO)

In [4]:
data

,1,2,3,4,5,6,7,8,9,10,...,36,37,38,39,40,41,42,43,44,45
NU_INSCRICAO,,,,,,,,,,,,,,,,,,,,,
c766dba145ea799e135e91fbfbd0d6bbbc9efb2f,B,A,D,A,B,E,C,B,A,D,...,D,A,E,B,C,E,C,B,E,A
a79131b85ffd8fdb7990836680caf5ef1b1bc137,A,C,D,D,D,A,C,B,E,E,...,E,A,D,B,C,E,C,B,A,B
0c2c28d8ecfa548da62807fb409c11cef1942098,E,B,A,C,E,A,D,B,E,C,...,C,B,D,A,E,B,C,B,D,A
65d009c286d9ee27d3dc585bd4fe8b91a0ffffba,E,C,D,A,B,A,A,C,D,E,...,C,A,C,A,A,B,E,C,D,A
57c4cd599e30b46d56b43459acda8e436e4f7978,B,B,D,B,C,A,C,D,C,C,...,A,D,C,C,E,B,C,B,C,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3a6f1855105ca277494d77b100038f6f2878a101,E,A,C,E,E,A,E,C,E,C,...,B,A,A,C,A,B,B,A,A,D
1b57c26c48aead6017494a7379aaa74803c1e235,D,B,D,A,E,E,A,B,D,C,...,D,B,E,C,D,A,B,C,E,C
3db0c787e644de2fd3aff8d8829e09f747b5a4b2,E,D,B,A,A,E,C,E,C,B,...,C,B,D,A,B,C,E,B,C,D
716d65e1e543ed365be0fdc212995b788300542c,D,E,D,A,D,B,B,D,C,C,...,C,C,B,A,C,B,D,C,B,B
411967c82b172c09fc84a6fefca5d70adf8e4040,C,A,B,B,C,D,C,B,B,C,...,D,C,E,C,B,A,B,D,B,C

In [6]:
import numpy as np
import pandas as pd
import sklearn

test = 'testfiles/train.csv'

dataset = pd.read_csv(test)

dataset = dataset[dataset['TX_RESPOSTAS_MT'].notna()]

dataset = dataset[dataset['NU_NOTA_MT'].notna()]

y = pd.DataFrame(data=dataset['NU_NOTA_MT'], index=dataset.NU_INSCRICAO)

mat = list(map(list, dataset.TX_RESPOSTAS_MT))

data = pd.DataFrame(mat, columns=[i for i in range(1, 46)], index=dataset.NU_INSCRICAO)

In [8]:
test = 'testfiles/train.csv'

dataset = pd.read_csv(test)

dataset

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,1,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,M,0.0,...,5.0,A,A,A,A,A,A,A,B,D
1,2,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,F,0.0,...,NaN,A,A,C,A,B,A,A,C,A
2,3,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,2304400,Fortaleza,23,CE,21,F,0.0,...,NaN,A,A,A,A,C,A,A,B,A
3,4,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,3304557,Rio de Janeiro,33,RJ,25,F,0.0,...,5.0,C,A,A,A,A,D,A,A,A
4,5,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,1302603,Manaus,13,AM,28,M,0.0,...,NaN,A,A,A,A,A,A,A,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13725,4582,aadf671ef8c1c6efa42e69432093ab83c17a52ac,2016,3502903,Araçoiaba da Serra,35,SP,20,M,0.0,...,NaN,A,A,A,A,A,A,A,A,A
13726,4583,461f7ef2753d9d5fa0b054930d6b0e0eec318e81,2016,2613800,São Vicente Ferrer,26,PE,33,F,0.0,...,NaN,A,A,B,B,A,A,A,A,A
13727,4584,5354503700ecf2388f68990435390b6e1ad454ee,2016,4322186,Tupanci do Sul,43,RS,15,F,0.0,...,NaN,A,A,A,A,C,A,A,A,A
13728,4585,c7a9e94a42bd76b7978f13c013a61702e36cc42c,2016,3303203,Nilópolis,33,RJ,36,M,1.0,...,5.0,A,A,A,A,D,A,A,A,D
13729,4586,0af8939c470a600b30bdaa80375ee0db848b0e35,2016,4100400,Almirante Tamandaré,41,PR,17,M,0.0,...,NaN,A,A,A,A,B,A,A,A,A

In [11]:
dataset = dataset[dataset['NU_NOTA_MT'].notna()]

dataset

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,1,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,M,0.0,...,5.0,A,A,A,A,A,A,A,B,D
1,2,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,F,0.0,...,NaN,A,A,C,A,B,A,A,C,A
5,6,a37c99ec251d4f6e8ddbeabadf1c87fdbfddc4d1,2016,2902005,Aracatu,29,BA,18,F,0.0,...,NaN,A,A,A,A,A,A,A,A,A
6,7,63b4e128e9ffe8ab27f5d093db1976ef4f353e0a,2016,5102637,Campo Novo do Parecis,51,MT,18,F,0.0,...,0.0,A,A,A,B,B,A,A,A,A
7,8,2eb189d4912f64b19d1967e8e84b6141aba18770,2016,4301602,Bagé,43,RS,18,F,0.0,...,NaN,C,A,A,A,A,D,A,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13725,4582,aadf671ef8c1c6efa42e69432093ab83c17a52ac,2016,3502903,Araçoiaba da Serra,35,SP,20,M,0.0,...,NaN,A,A,A,A,A,A,A,A,A
13726,4583,461f7ef2753d9d5fa0b054930d6b0e0eec318e81,2016,2613800,São Vicente Ferrer,26,PE,33,F,0.0,...,NaN,A,A,B,B,A,A,A,A,A
13727,4584,5354503700ecf2388f68990435390b6e1ad454ee,2016,4322186,Tupanci do Sul,43,RS,15,F,0.0,...,NaN,A,A,A,A,C,A,A,A,A
13728,4585,c7a9e94a42bd76b7978f13c013a61702e36cc42c,2016,3303203,Nilópolis,33,RJ,36,M,1.0,...,5.0,A,A,A,A,D,A,A,A,D
13729,4586,0af8939c470a600b30bdaa80375ee0db848b0e35,2016,4100400,Almirante Tamandaré,41,PR,17,M,0.0,...,NaN,A,A,A,A,B,A,A,A,A

In [12]:
dataset['NU_NOTA_MT']

0        399.4
1        459.8
5        364.5
6        529.2
7        566.7
         ...
13725    403.2
13726    452.4
13727    398.0
13728    386.6
13729    428.9
Name: NU_NOTA_MT, Length: 10133, dtype: float64